* {
  margin: 0;
  padding: 0;
}
.navbar {
  border: none;
  background-color: black;
  color: #61122f;
}
body {
  background-color: #61122f;
  color: rgb(0, 0, 0);
}
.glyphicon {
  font-size: 30px;
  color: #61122f;
}

.center {
  width: 90%;
  background-color: rgb(255, 255, 255);
}
.container {
  background-color: rgb(255, 255, 255);
}
.text-center {
  font-size: 30px;
}

h2 {
  text-align: center;
}
#myNavbar ul li a {
  color: #61122f;
  
}
.navbar-brand {
  font-size: 30px;
}
